html {
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  padding: 7px;
  padding-left: 10px;
  padding-right: 20px;
}

nav ul li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.flashcard-container {
  
  
  
}

.flashcard-list {
  list-style-type: none;
  text-wrap: nowrap;
  
}


.card {
  position: absolute;
  background-color: var(--onyx-gray);
  width: 400px;
  height: 200px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.curr-card {
  left: 50%;
  right: 50%;
  margin-left: -200px;
  top: 25vh;
  height: 300px;
  
  
}

.next-card {
  top: 25vh;
  right: -350px;
}

.prev-card {
  top: 25vh;
  left: -350px;
}

.animate-flip {
  transition: 0.3s;
  
  transform: rotateY(180deg);
}

.prev-animate-d {
  transition: 0.1s;
  left: -400px;

}

.curr-animate-d {
  transition: .1s;
  height: 200px;
  left: calc(0vw - 150px);
}

.next-animate-d {
  transition: 0.1s;
  width: 400px;
  height: 300px;
  left: 50%;
  margin: -200px;
  margin-top: 0px;
}

.prev-animate-a {
  transition: 0.1s;
  width: 400px;
  height: 300px;

  left: auto;
  right: 50%;
  margin: -200px;
  margin-top: 0px;
}

.curr-animate-a {
  transition: 0.1s;
  
  height: 200px;
  left: calc(100vw + 150px);
}

.next-animate-a {
  transition: 0.1s;
  
  right: -400px;
}






/* xs */
@media (min-width: 475px) {
  
}

/* sm */
@media (min-width: 640px) {
  
}

/* md */
@media (min-width: 786px) {
  
}

/* lg */
@media (min-width: 1024px) {
  
}

/* xl */
@media (min-width: 1280px) {
  
}

/* 2xl */
@media (min-width: 1536px) {
  
}