nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  padding: 7px;
  padding-left: 10px;
  padding-right: 20px;
}

nav ul li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.flashcard-container {
  height: calc(100vh - 100px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-list {
  list-style-type: none;
  text-wrap: nowrap;
}

.flashcard {
  display: inline;
  position: absolute;
  background: var(--onyx-gray);
  margin-left: 20px;
  margin-right: 20px;
  text-wrap: nowrap;
}

.left-card {
}

.right-card {
}
